*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Considered better practice to inherit from the body selector. Makes it easier to change box-sizing in plugins or components if we wanted something else besides border-box. */
}

html {
  font-size: 62.5%; /* Set to 10px so 1rem = 10px. Allows easier calculation and makes our lives easier. What we want (10px) divided by browser default (16px) equals 0.625 (62.5%) */
}

body {
  box-sizing: border-box;
}